page-skills {

	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

	font-family: "Avenir";

	ion-navbar, .toolbar{

		height: 100px !important;
		
		.toolbar-background{

			background-color: #f4f4f4;
			border: none !important;
		}

		ion-title{
			padding-left: 0 !important;
			padding-top: 10px !important;

			.toolbar-title{
				padding-left: 20px; 
				padding-bottom: 10px;
				text-align: left;
				font-size: 20px;
				font-weight: 900;
			}
		}

		p{
			padding: 0 20px;
			font-size: 14px;
			margin-top: 0;
		}
	}

	.resume-textarea{
		margin-top: 10px !important;
		margin-bottom: 30px !important;

		h5{
			font-weight: 600;
			font-size: 16px;
			color: #404040
		}

	}

	ion-list{
		margin-bottom: 10px !important;
	}

	ion-list-header{
		border: none !important;
		padding-left: 0 !important;
		margin: auto !important;
		max-width: 500px !important;
	}



	ion-row{
		max-width: 500px;
		margin: auto !important;

	}


	@media screen and (min-width: 992px){
		ion-row{
			max-width: 1200px !important
		}
	}

	.resume{
		.text-input{
			height: 120px;
			background: #f0f0f0 !important;
			padding: 20px;
		}

	}

	.control{

		background-color: transparent;
		margin-top: 16px;
		padding: 20px;
		display: flex;


		ion-label{
			font-weight: 600;
			color: #4a4a4a;
			font-size: 14px !important;
			margin: 0;
			width: 100%
		}

		ion-icon{
			font-size: 22px;
			font-weight: 800;
		}

		// .btn-7 {
		// 	background: #17aa56;
		// 	color: #fff;
		// 	border-radius: 7px;
		// 	box-shadow: 0 5px #119e4d;
		// 	padding: 25px 60px 25px 90px;
		// }


		button{
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			height: 50px;
			width: 200px;
			border-radius: 25px;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 2px;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
			background-color: #21d4fd;
			background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
			color: white;
		}

		button.activated {
			box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); 
			top: 4px;
			opacity: 0.5 !important;
		}
		


		@media screen and (max-width: 420px){

			button{
				flex: 0 0 100px !important;
				white-space: normal; 
				line-height: 18px;
				font-size: 12px;
			}

		}



		button.activated{
			background-color: #404040 !important;
		}
	}

}
