page-skills {

	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

	font-family: "Avenir";

	ion-navbar, .toolbar{
		
		.toolbar-background{

			background-color: #f4f4f4;
			border: none !important;
		}

		ion-title{
			padding-left: 0 !important;
			padding-top: 30px !important;

			.toolbar-title{
				padding-left: 20px; 
				text-align: left;
				font-size: 20px;
				font-weight: 900;
				// text-transform: lowercase;
			}
		}

		p{
			padding: 0 20px;
			font-size: 14px;
			margin-top: 0;
		}
	}

	ion-list{
		margin-bottom: 10px !important;
	}

	ion-list-header{
		border: none !important;
		padding-left: 0 !important;
		margin: auto !important;
		max-width: 500px !important;
	}



	ion-row{
		max-width: 500px;
		margin: auto !important;

	}

	ion-card{
		padding: 15px;

		h2{
			font-weight: 800 !important;
			text-transform: capitalize;
		}
	}

	@media screen and (min-width: 992px){
		ion-row{
			max-width: 1200px !important
		}
	}

	.resume{
		.text-input{
			height: 120px;
			background: #f0f0f0 !important;
			padding: 20px;
		}

	}




	.selection-bar{
		border-top: rgba(0,0,0,0.3) 0.55px solid;
		display: flex;
		width: 100%;
		margin: auto;
		height: 100px !important;
		padding: 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		position: fixed;

		.skills-bar{
			display:flex;
			flex-direction: column;
			width: calc(100%-200px)

			p{
				margin: 2px 0;
				padding: 0px !important;
				font-weight: 500;
				font-size: 12px;
				color: #202020;
			}



			.selected-skills{
				display: flex;

				ion-chip{
					margin-right: 5px;

					ion-label{
						font-weight: 600
					}
				}
			}

		}

		@media screen and (max-width: 420px){
			.skills-bar{

				.selected-skills{
					flex-wrap: wrap;
					
					ion-chip > ion-label{
						font-size: 11px;
					}
				}
			}

		}

		button{
			height: 50px;
			width: 200px;
			border-radius: 25px;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 2px;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
			background-color: #21d4fd;
			background-image: linear-gradient(200deg, #21d4fd 0%, #b721ff 100%);
		}

		@media screen and (max-width: 420px){

			button{
				flex: 0 0 100px !important;
				white-space: normal; 
				line-height: 18px;
				font-size: 12px;
			}

		}



		button.activated{
			background-color: #404040 !important;
		}


	}

	
	.email{

		background-color: #f4f4f4;
		margin-top: 16px;
		padding: 20px;
		display: flex;

		form{
			width: 100%;
		}

		ion-input{
			font-size: 14px;
			margin: 0 !important;
			color: #333333;
			font-weight: 500;
			background-color: transparent !important;
			border-bottom: solid 1px #ccc;
		}


		ion-label{
			font-weight: 600;
			color: #4a4a4a;
			font-size: 14px !important;
			margin: 0;
			width: 100%
		}

		ion-icon{
			font-size: 22px;
			font-weight: 800;
		}



		button{
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			height: 50px;
			width: 200px;
			border-radius: 25px;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: 2px;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
			background-color: #21d4fd;
			background-image: linear-gradient(200deg, #21d4fd 0%, #b721ff 100%);
		}

		@media screen and (max-width: 420px){

			button{
				flex: 0 0 100px !important;
				white-space: normal; 
				line-height: 18px;
				font-size: 12px;
			}

		}



		button.activated{
			background-color: #404040 !important;
		}
	}

}
